<input type="checkbox" id="modal-withdraw" class="modal-toggle" />
<form class="modal" (ngSubmit)="onWithdraw()" [formGroup]="withdrawBankBalanceForm">
  <div class="modal-container">
    <label for="modal-withdraw" class="btn btn-sm btn-circle absolute right-3 top-3">✕</label>
    <h3 class="modal-title">Retirer votre argent:</h3>

    <div class="mb-6 flex flex-col gap-2">
      <div class="flex flex-col gap-3">
        <label class="font-medium text-white" for="bankAccount">Retirer la somme de:</label>
        <input class="input-lbl w-1/3 border-2 bg-base-200" type="number" id="bankAccount" name="bankAccount"
          formControlName="bankAccount" autocomplete="bankAccount" placeholder="0 $" required />
      </div>
    </div>
    <div class="flex justify-end">
      <label for="modal-withdraw" type="submit" class="btn btn-primary ml-auto" (click)="onWithdraw()">
        Retirer
      </label>
    </div>
  </div>
</form>