<div class="main-container">
  <lbl-header>Heureux de vous voir, bonne chance à vous !</lbl-header>
  <div class="sign-up-form-container">
    <form [formGroup]="formLogIn" class="sign-up-form lg:w-2/5">
      <h1 class="sign-up-title">Connexion</h1>
      <div class="sign-up-form-container md:flex-col">
        <div class="sign-up-form-sub-container">
          <div class="sign-up-input-container">
            <label class="mb-1" for="email">E-mail:</label>
            <input
              class="sign-up-input"
              type="email"
              id="email"
              name="email"
              formControlName="email"
              autocomplete="username"
              placeholder="Alexandre"
              required
            />
          </div>
          <div class="sign-up-input-container">
            <label class="mb-1" for="password">Mot de passe:</label>
            <input
              class="sign-up-input"
              type="password"
              id="password"
              name="password"
              formControlName="password"
              autocomplete="current-password"
              placeholder="Alexandre"
              required
            />
          </div>
        </div>
        <div class="h-24 flex flex-col items-center place-content-around">
          <button
            (click)="onLogIn()"
            class="w-fit py-2 px-4 rounded-lg font-semibold text-white shadow-md bg-lbl"
            type="button"
            [disabled]="!formLogIn.valid"
          >
            Se connecter
          </button>
          <p>
            je ne suis pas inscris,
            <a
              class="text-blue-600 hover:text-blue-400 underline"
              [routerLink]="['/inscription']"
            >
              m'inscrire.
            </a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
