<div class="form-container">
  <h1 class="anounce-title">Créer une annonce</h1>
  <form [formGroup]="formAnnounce" (ngSubmit)="onSubmit()" class="form">
    <div class="fields">
      <label for="announce-name">Titre de l'annonce:</label>
      <input
        type="text"
        id="announce-name"
        name="announce-name"
        formControlName="name"
        required
      />
    </div>
    <div class="fields">
      <label for="announce-category">Catégorie de l'annonce:</label>
      <input
        type="text"
        id="announce-category"
        name="announce-category"
        formControlName="category"
        required
      />
    </div>
    <div class="fields">
      <label for="announce-description">Description de l'annonce:</label>
      <textarea
        type="text"
        id="announce-description"
        name="announce-description"
        formControlName="description"
        required
      ></textarea>
    </div>
    <div class="fields">
      <label for="announce-minTickets">Nombre minimum de tickets:</label>
      <input
        type="number"
        id="announce-minTickets"
        name="announce-minTickets"
        formControlName="minTickets"
        required
      />
    </div>
    <app-upload-img></app-upload-img>
    <div class="fields">
      <button type="submit" class="btn-submit">Ajouter</button>
    </div>
    <ng-template [ngIf]="showErrorMessage">
      <div>Veuillez remplir tous les champs</div>
    </ng-template>
  </form>
</div>
