<section class="">
  <div class="">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <h3 class="">Créer une annonce</h3>
            <form [formGroup]="formAnnounce" (ngSubmit)="onSubmit()">
              <div class="">
                <div class="">
                  <div class="">
                    <label class="" for="firstName">Titre:</label>
                    <input
                      type="text"
                      id="announce-name"
                      name="announce-name"
                      formControlName="name"
                      class=""
                      required
                    />
                  </div>
                </div>
                <div class="">
                  <label class="">Catégorie:</label>
                  <select
                    type="text"
                    id="announce-category"
                    name="announce-category"
                    formControlName="category"
                    required
                    class=""
                  >
                    <option value="1" disabled>
                      Selectionnez une catégorie
                    </option>
                    <option value="2">Subject 1</option>
                    <option value="3">Subject 2</option>
                    <option value="4">Subject 3</option>
                  </select>
                </div>
              </div>

              <div class="">
                <div class="">
                  <div class="">
                    <label for="announce-description" class=""
                      >Description:</label
                    >
                    <textarea
                      type="text"
                      id="announce-description"
                      name="announce-description"
                      formControlName="description"
                      class=""
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="">
                  <div class="">
                    <input type="file" class="" (change)="onChange($event)" />
                    <button class="" type="button" (click)="onUpload()">
                      Télécharger
                    </button>
                  </div>
                </div>

                <div *ngIf="loading">
                  <h3>Loading ...</h3>
                </div>
                <ng-template [ngIf]="showErrorMessage">
                  <div>Veuillez remplir tous les champs</div>
                </ng-template>
              </div>

              <div class="">
                <div class="">
                  <div class="">
                    <label class="" for="emailAddress"
                      >Prix ticket unitaire</label
                    >
                    <input
                      type="number"
                      id="announce-oneTicketPrice"
                      name="announce-oneTicketPrice"
                      formControlName="oneTicketPrice"
                      class=""
                      required
                    />
                  </div>
                </div>
              </div>

              <div class="">
                <button class="" type="submit">Publier</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
