<footer class="footer p-10 border-t border-slate-300 bg-[#212121] text-white">
  <div>
    <img src="/assets/png/Logo.png" width="50" height="50" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd" clip-rule="evenodd" class="fill-current rounded-xl" />
    <p>
      <span class="text-primary text-lg">LeBonLot</span><br />Développé par
      Kévin Marias.
    </p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Information</a>
    <a class="link link-hover">Réclamation</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
  </div>
</footer>