<footer
  class="mt-4 footer p-10 bg-base-200 border-t border-slate-300 text-base-content"
>
  <div>
    <img
      src="/assets/png/Logo.png"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      fill-rule="evenodd"
      clip-rule="evenodd"
      class="fill-current rounded-xl"
    />
    <p>ACME Industries Ltd.<br />Providing reliable tech since 1992</p>
  </div>
  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
  </div>
</footer>
