<div *ngIf="currentAnnounce && authorAnnounce" class="main-container">
  <lbl-header>Détails de l'annonce</lbl-header>
  <!-- MAIN CONTAINER -->
  <div class="details-container">
    <div class="details-sub-container">
      <!-- CARROUSEL -->
      <div class="carrousel-container">
        <div
          *ngFor="let imgUrl of currentAnnounce.imgsAnnounce"
          class="carousel-item w-11/12"
        >
          <img [src]="imgUrl" class="rounded-box" />
        </div>
      </div>
      <!-- Others info -->
      <div class="hidden lg:w-5/12 lg:flex lg:flex-col">
        <div class="hidden announce-others-info-container">
          <!-- User -->
          <div class="announce-user-profile">
            <img
              class="announce-user-picture"
              [src]="authorAnnounce['imgProfile']"
            />
            <div class="announce-user-info">
              <div class="flex gap-2">
                <p
                  class="text-gray-800 font-bold text-xl sm:text-2xl lg:text-lg"
                >
                  {{ authorAnnounce["firstname"] }}
                  {{ authorAnnounce["lastname"] }}
                </p>
                <div class="rating rating-md mb-4 lg:mb-0">
                  <input
                    type="radio"
                    name="rating-9"
                    class="mx-0.5 mask mask-star-2 bg-yellow-300"
                  />
                  <input
                    type="radio"
                    name="rating-9"
                    class="mx-0.5 mask mask-star-2 bg-yellow-300"
                    checked
                  />
                  <input
                    type="radio"
                    name="rating-9"
                    class="mx-0.5 mask mask-star-2 bg-primary"
                  />
                  <input
                    type="radio"
                    name="rating-9"
                    class="mx-0.5 mask mask-star-2 bg-primary"
                  />
                  <input
                    type="radio"
                    name="rating-9"
                    class="mx-0.5 mask mask-star-2 bg-primary"
                  />
                </div>
              </div>
              <!-- MD Link's Group -->
              <div class="MD-announce-user-links">
                <a class="link text-blue-500">Voir les 29 annonces</a>
                <button class="btn btn-info mr-auto">Contacter</button>
              </div>
            </div>
          </div>
          <!-- Link's Group -->
          <div class="announce-user-links">
            <a class="link text-blue-500">Voir les 29 annonces</a>
            <button class="btn btn-info btn-sm">Contacter</button>
          </div>

          <!-- Timer -->
          <app-timer [endDate]="currentAnnounce.endAt.timestamp"></app-timer>
        </div>
      </div>
    </div>
    <!-- CONTENT CARD -->
    <div class="py-2 lg:py-0">
      <div class="announce-info-container">
        <div class="category-price-line md:w-1/2">
          <h2 class="text-2xl">{{ currentAnnounce.category }}</h2>
          <span class="text-2xl font-semibold">{{
            currentAnnounce.ticketPrice | currency : "EUR"
          }}</span>
        </div>
        <div class="mb-3">
          <h3 class="text-xl mb-2">{{ currentAnnounce.title }}</h3>
          <p>
            Posté le
            {{ currentAnnounce.createdAt | date : "dd/MM/yyyy" }}
          </p>
        </div>
        <!-- Badges -->
        <div class="flex mb-3">
          <div class="announce-badges mr-1">neutral</div>
          <div class="announce-badges mx-1">neutral</div>
          <div class="announce-badges mx-1">neutral</div>
          <div class="announce-badges ml-1">neutral</div>
        </div>
        <div class="divider mb-0 lg:mb-8"></div>
      </div>
      <div class="w-full flex justify-start gap-12 md:mb-6">
        <!-- Description -->
        <div class="announce-description-container">
          <h3 class="card-title mb-2">Description:</h3>
          <p class="text-gray-800 leading-normal">
            {{ currentAnnounce.description }}
          </p>
        </div>
        <div class="hidden announce-others-info-container lg:w-5/12 lg:pb-4">
          <div class="announce-statistics-info">
            <div class="announce-titles-divider">
              <h3 class="announce-titles">Statistiques</h3>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Estimation</p>
              <p class="font-mono">{{ currentAnnounce.estimate }}</p>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Prix pour 1 ticket</p>
              <p class="font-mono">{{ currentAnnounce.ticketPrice }}</p>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Nb Ticket maximum</p>
              <p class="font-mono">{{ currentAnnounce.maxTickets }}</p>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Nb Ticket en cours</p>
              <p class="font-mono">{{ currentAnnounce.currentTickets }}</p>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Nombre d'acheteurs</p>
              <p class="font-mono">32</p>
            </div>
            <div class="announce-statistics-lines">
              <p class="font-mono">Durant la dernière heure</p>
              <p class="font-mono">500</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Others info -->
      <div class="lg:hidden announce-others-info-container">
        <!-- User -->
        <div class="lg:hidden announce-user-profile">
          <img
            class="announce-user-picture"
            src="https://via.placeholder.com/150"
          />
          <div class="announce-user-info">
            <p class="text-gray-800 font-bold text-xl sm:text-2xl">
              {{ authorAnnounce["firstname"] }} {{ authorAnnounce["lastname"] }}
            </p>
            <div class="mb-4 pt-1 rating rating-md">
              <input
                type="radio"
                name="rating-9"
                class="mx-0.5 mask mask-star-2 bg-yellow-300"
              />
              <input
                type="radio"
                name="rating-9"
                class="mx-0.5 mask mask-star-2 bg-yellow-300"
                checked
              />
              <input
                type="radio"
                name="rating-9"
                class="mx-0.5 mask mask-star-2 bg-primary"
              />
              <input
                type="radio"
                name="rating-9"
                class="mx-0.5 mask mask-star-2 bg-primary"
              />
              <input
                type="radio"
                name="rating-9"
                class="mx-0.5 mask mask-star-2 bg-primary"
              />
            </div>
            <!-- MD Link's Group -->
            <div class="MD-announce-user-links">
              <a class="link text-blue-500">Voir les 29 annonces</a>
              <button class="btn btn-info">Contacter</button>
            </div>
          </div>
        </div>
        <!-- Link's Group -->
        <div class="announce-user-links">
          <a class="link text-blue-500">Voir les 29 annonces</a>
          <button class="btn btn-info btn-outline">Contacter</button>
        </div>
        <!-- Statistics -->
        <div class="announce-statistics-info">
          <div class="announce-titles-divider">
            <h3 class="announce-titles">Statistiques</h3>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Estimation</p>
            <p class="font-mono">{{ currentAnnounce.estimate }}</p>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Prix pour 1 ticket</p>
            <p class="font-mono">{{ currentAnnounce.ticketPrice }}</p>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Nb Ticket maximum</p>
            <p class="font-mono">{{ currentAnnounce.maxTickets }}</p>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Nb Ticket en cours</p>
            <p class="font-mono">{{ currentAnnounce.currentTickets }}</p>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Nombre d'acheteurs</p>
            <p class="font-mono">32</p>
          </div>
          <div class="announce-statistics-lines">
            <p class="font-mono">Durant la dernière heure</p>
            <p class="font-mono">500</p>
          </div>
        </div>
        <!-- Timer -->
        <app-timer [endDate]="currentAnnounce.endAt.timestamp"></app-timer>
      </div>
    </div>
    <!-- CTA's Group -->
    <div class="btn-group ml-auto gap-1">
      <button class="btn btn-outline btn-info ml-auto">Retour</button>
      <label for="modalBuyTicket" class="btn btn-primary ml-auto"
        >Acheter</label
      >
    </div>
  </div>
</div>

<!-- Buy ticket modal -->
<input
  type="checkbox"
  #modalBuyTicket
  id="modalBuyTicket"
  class="modal-toggle"
/>
<div class="modal">
  <div class="modal-box flex flex-col gap-4">
    <label
      for="modalBuyTicket"
      class="btn btn-sm btn-circle absolute right-4 top-4"
      >✕</label
    >
    <h3 class="font-bold text-lg">
      Achat de ticket(s) pour 'clio 3 bon état'.
    </h3>
    <div class="w-full flex flex-col my-3 gap-2">
      <label for="buyTickets">Selectionner un nombre de ticket:</label>
      <input
        id="numberTicket"
        type="number"
        class="input-lbl w-1/3 border-2 bg-base-200"
      />
    </div>
    <table class="w-full py-4">
      <tbody>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">
            Nombre de tickets sélectionnés:
          </th>
          <td class="font-medium">22</td>
        </tr>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">Nombre de chances</th>
          <td class="font-medium">1/5</td>
        </tr>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">Prix total:</th>
          <td class="font-medium">54 $</td>
        </tr>
      </tbody>
    </table>
    <div class="modal-action">
      <label for="modalBuyTicket" class="btn btn-outline btn-info"
        >Annuler</label
      >
      <label
        for="modal-good-luck"
        class="btn btn-primary"
        (click)="closeModal()"
        >Valider</label
      >
    </div>
  </div>
</div>

<!-- Good luck modal -->
<input type="checkbox" id="modal-good-luck" class="modal-toggle" />
<div class="modal">
  <div class="modal-box flex flex-col gap-4">
    <label
      for="modal-good-luck"
      class="btn btn-sm btn-circle absolute right-4 top-4"
      >✕</label
    >
    <h3 class="pb-4 font-bold text-3xl text-primary text-lbl">
      La bonne chance 🤞
    </h3>
    <p class="pb-2">
      [Nom utilisateur], nous vous souhaitons bonne chance pour ce tirage ce
      tirage à venir !
    </p>
    <p class="pb-2">
      N'hésitez pas à nous contacter si vous avez des questions ou des
      préoccupations concernant votre annonce. Nous sommes là pour vous aider.
    </p>
    <div class="modal-action">
      <label for="modal-good-luck" class="btn btn-primary">Merci</label>
    </div>
  </div>
</div>
