<input type="checkbox" id="modal-good-luck" class="modal-toggle" />
<div class="modal">
  <div class="">
    <label for="modal-good-luck" class="btn btn-sm btn-circle absolute right-4 top-4">✕</label>
    <h3 class="pb-4 font-bold text-3xl text-primary">
      La bonne chance 🤞
    </h3>
    <p class="pb-2">
      [Nom utilisateur], nous vous souhaitons bonne chance pour ce tirage ce
      tirage à venir !
    </p>
    <p class="pb-2">
      N'hésitez pas à nous contacter si vous avez des questions ou des
      préoccupations concernant votre annonce. Nous sommes là pour vous aider.
    </p>
    <div class="modal-action">
      <label for="modal-good-luck" class="btn btn-primary">Merci</label>
    </div>
  </div>
</div>