<div class="main-container">
  <lbl-header>Rejoignez-nous !</lbl-header>
  <form [formGroup]="formSignUp" class="form-container">
    <h1 class="form-title">Inscription</h1>
    <div class="form-sub-container">
      <div class="md:w-full">
        <div class="form-input-container">
          <label class="mb-1" for="firstname">Prénom:</label>
          <input
            class="input-lbl"
            type="text"
            id="firstname"
            name="firstname"
            formControlName="firstname"
            autocomplete="username"
            placeholder="Alexandre"
            required
          />
        </div>
        <div class="form-input-container">
          <label class="mb-1" for="lastname">Nom:</label>
          <input
            class="input-lbl"
            type="text"
            id="lastname"
            name="lastname"
            formControlName="lastname"
            autocomplete="username"
            placeholder="Durand"
            required
          />
        </div>
        <div class="form-input-container">
          <label class="mb-1" for="birthday">Date de naissance:</label>
          <input
            class="input-lbl"
            type="date"
            id="birthday"
            name="birthday"
            formControlName="birthday"
            autocomplete="username"
            placeholder="JJ/MM/AAAA"
            required
          />
        </div>
        <div class="form-input-container">
          <label class="mb-1" for="city">Ville:</label>
          <input
            class="input-lbl"
            type="text"
            id="city"
            name="city"
            formControlName="city"
            autocomplete="username"
            placeholder="Paris"
            required
          />
        </div>
      </div>
      <div class="col-upload-descript-buttons">
        <div class="md:w-full">
          <div class="form-input-container">
            <label class="mb-1" for="email">E-mail:</label>
            <input
              class="input-lbl"
              type="text"
              id="email"
              name="email"
              formControlName="email"
              autocomplete="username"
              placeholder="exemple@gmail.com"
              required
            />
          </div>
          <div class="form-input-container">
            <label class="mb-1" for="password">Mot de passe:</label>
            <input
              class="input-lbl"
              type="text"
              id="password"
              name="password"
              formControlName="password"
              autocomplete="current-password"
              required
            />
          </div>
          <div class="form-input-container">
            <label class="mb-1" for="confirmation-password"
              >Confirmation:</label
            >
            <input
              class="input-lbl"
              type="text"
              id="confirmation-password"
              name="confirmation-password"
              formControlName="confirmation-password"
              autocomplete="confirmation-password"
              required
            />
          </div>
        </div>
        <div class="auth-cta-container">
          <button
            (click)="onCreateUser()"
            class="w-fit py-2 px-4 rounded-lg font-semibold text-white shadow-md bg-lbl"
            type="button"
            [disabled]="!formSignUp.valid"
          >
            S'incrire
          </button>
          <p>
            j'ai déjà un compte,
            <a
              class="text-blue-600 hover:text-blue-400 underline"
              [routerLink]="['/connexion']"
              (click)="onHaveAccount()"
            >
              me connecter
            </a>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
