<div class="">
  <form [formGroup]="formSignUp">
    <div class=""></div>

    <h1 class="">Inscription</h1>

    <div class="">
      <label class="" for="firstname">Prénom:</label>
      <input
        class=""
        type="text"
        id="firstname"
        name="firstname"
        formControlName="firstname"
        autocomplete="username"
        required
      />
    </div>
    <div class="">
      <label class="" for="lastname">Nom:</label>
      <input
        class=""
        type="text"
        id="lastname"
        name="lastname"
        formControlName="lastname"
        autocomplete="username"
        required
      />
    </div>
    <div class="">
      <label class="" for="city">Ville:</label>
      <input
        class=""
        type="text"
        id="city"
        name="city"
        formControlName="city"
        autocomplete="username"
        required
      />
    </div>
    <div class="">
      <label class="" for="email">E-mail:</label>
      <input
        class=""
        type="email"
        id="email"
        name="email"
        formControlName="email"
        autocomplete="username"
        required
      />
    </div>

    <div class="">
      <label class="" for="password">Mot de passe:</label>
      <input
        type="password"
        id="form2Example27"
        class=""
        formControlName="password"
        autocomplete="current-password"
      />
    </div>

    <div class="">
      <button
        (click)="onCreateUser()"
        class=""
        type="button"
        [disabled]="!formSignUp.valid"
      >
        S'incrire
      </button>
    </div>

    <p class="">
      j'ai déjà un compte,
      <a href="#!" (click)="onHaveAccount()"> me connecter </a>
    </p>
    <a href="#!" class="">Terms of use.</a>
    <a href="#!" class="">Privacy policy</a>
  </form>
</div>
