<div class="card-body px-lg-5 text-black">
  <form [formGroup]="formSignUp">
    <div class="d-flex align-items-center mb-3 pb-1">
      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
    </div>

    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">Inscription</h1>

    <div class="form-outline mb-1">
      <label class="form-label" for="firstname">Prénom:</label>
      <input
        class="form-control form-control-lg"
        type="text"
        id="firstname"
        name="firstname"
        formControlName="firstname"
        autocomplete="username"
        required
      />
    </div>
    <div class="form-outline mb-1">
      <label class="form-label" for="lastname">Nom:</label>
      <input
        class="form-control form-control-lg"
        type="text"
        id="lastname"
        name="lastname"
        formControlName="lastname"
        autocomplete="username"
        required
      />
    </div>
    <div class="form-outline mb-1">
      <label class="form-label" for="city">Ville:</label>
      <input
        class="form-control form-control-lg"
        type="text"
        id="city"
        name="city"
        formControlName="city"
        autocomplete="username"
        required
      />
    </div>
    <div class="form-outline mb-1">
      <label class="form-label" for="email">E-mail:</label>
      <input
        class="form-control form-control-lg"
        type="email"
        id="email"
        name="email"
        formControlName="email"
        autocomplete="username"
        required
      />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="password">Mot de passe:</label>
      <input
        type="password"
        id="form2Example27"
        class="form-control form-control-lg"
        formControlName="password"
        autocomplete="current-password"
      />
    </div>

    <div class="pt-1 mb-4">
      <button
        (click)="onCreateUser()"
        class="btn btn-success btn-lg btn-block"
        type="button"
        [disabled]="!formSignUp.valid"
      >
        S'incrire
      </button>
    </div>

    <p class="mb-5 pb-lg-2" style="color: #393f81">
      j'ai déjà un compte,
      <a href="#!" style="color: #393f81" (click)="onHaveAccount()">
        me connecter
      </a>
    </p>
    <a href="#!" class="small text-muted">Terms of use.</a>
    <a href="#!" class="small text-muted">Privacy policy</a>
  </form>
</div>
