<div
  class="card md:card-side glass w-11/12 md:w-8/12 mx-auto hover:mt-2 ease-out hover:ease-out duration-500 hover:duration-700 hover:scale-105 hover:mb-3 p-3 hover:border-2 hover:bg-gradient-to-r hover:bg-slate-200 hover:shadow-xl"
>
  <figure class="md:w-4/12">
    <img class="md:w-full h-full" src="{{ img }}" alt="car!" />
  </figure>
  <div class="card-body py-0 pr-1">
    <div class="mb-auto flex flex-col">
      <div class="mb-2 flex justify-between">
        <h3 class="card-title text-3xl">Catégorie</h3>
        <h3 class="card-title text-3xl">10 $</h3>
      </div>
      <div class="mb-4">
        <h4 class="card-title text-2xl">{{ name }}</h4>
      </div>
      <div class="flex mb-2">
        <div class="badge p-3 mr-1">tag 1</div>
        <div class="badge p-3 mr-1">tag 2</div>
        <div class="badge p-3 mr-1">tag 3</div>
      </div>
    </div>

    <div class="card-actions justify-end">
      <button class="btn btn-outline btn-info" (click)="seeDetails()">
        Détails
      </button>
      <label for="modal-buy-ticket" class="btn btn-primary">Acheter</label>
    </div>
  </div>
</div>

<!-- Buy ticket modal -->
<input type="checkbox" id="modal-buy-ticket" class="modal-toggle" />
<div class="modal">
  <div class="modal-box flex flex-col gap-4">
    <label
      for="modal-buy-ticket"
      class="btn btn-sm btn-circle absolute right-4 top-4"
      >✕</label
    >
    <h3 class="font-bold text-lg">
      Achat de ticket(s) pour 'clio 3 bon état'.
    </h3>
    <div class="w-full flex flex-col my-3 gap-2">
      <label for="buyTickets">Selectionner un nombre de ticket:</label>
      <input
        id="numberTicket"
        type="number"
        class="input-lbl w-1/3 border-2 bg-base-200"
      />
    </div>
    <table class="w-full py-4">
      <tbody>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">
            Nombre de tickets sélectionnés:
          </th>
          <td class="font-medium">22</td>
        </tr>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">Nombre de chances</th>
          <td class="font-medium">1/5</td>
        </tr>
        <tr class="flex justify-between">
          <th colspan="2" scope="row" class="font-normal">Prix total:</th>
          <td class="font-medium">54 $</td>
        </tr>
      </tbody>
    </table>
    <div class="modal-action">
      <label for="modal-buy-ticket" class="btn btn-outline btn-info"
        >Annuler</label
      >
      <label for="modal-buy-ticket" class="btn btn-primary">Valider</label>
    </div>
  </div>
</div>
