.card-container {
  background-color: black;
  width: 95%;
  min-height: 10em;
  margin: 1em auto ;
  padding: 0.5em;
  display: flex;
  place-content: space-around;
}
.btn-see-details {
  background-color: green;
  width: 100%;
  display: flex;
  text-align: start;
  cursor: pointer;
}
.item-img {
  background-color: red;
  width: 20%;
  height: 100%;
}
.description-part {
  background-color: blue;
  width: 65%;
  height: 100%;
}
.item-name {
  background-color: purple;
  margin: 0;
  ;
}
.tickets-part {
  margin: auto;
  text-align-last: center;
  color: white;
}
.btn-ticket {
  margin: auto;
  background-color: #059669;
  cursor: pointer;

}