<li class="" (click)="seeDetails()">
  <div class="">
    <div class="">
      <h5 class="">{{ name }}</h5>
      <p class="">
        {{ description }}
      </p>
      <div class="">
        <h6 class="">₹64,999</h6>
        <ul class="">
          <li class="">
            <i class=""></i>
          </li>
          <li class="">
            <i class=""></i>
          </li>
          <li class="">
            <i class=""></i>
          </li>
          <li class="">
            <i class=""></i>
          </li>
          <li class="">
            <i class=""></i>
          </li>
        </ul>
      </div>
    </div>
    <img src="{{ img }}" alt="Generic placeholder image" class="" />
  </div>
</li>
