<div
  class="card md:card-side w-10/12 md:w-8/12 mx-auto md:ml-20 pb-5 border-b borber-b-2 border-gray-600 rounded-none"
>
  <figure class="md:w-3/12 max-h-44">
    <img class="md:w-full h-full" [src]="data.imgsAnnounce![0]" alt="car!" />
  </figure>
  <div class="card-body py-0 pr-1">
    <div class="flex flex-col gap-2 mb-4">
      <h4 class="card-title text-xl">{{ data.title }}</h4>
      <h3 class="card-title text-lg">{{ data.category }}</h3>
      <h3 class="card-title text-xl">
        {{ data.ticketPrice | currency : "EUR" }}
      </h3>
      <div *ngIf="data.tags![0]" class="flex mb-2">
        <div *ngFor="let tag of data.tags" class="announce-badges">
          {{ tag }}
        </div>
      </div>
    </div>

    <div class="card-actions justify-end">
      <button class="btn btn-outline btn-info" (click)="seeDetails()">
        Détails
      </button>
      <label for="modalBuyTicket" class="btn btn-primary">Acheter</label>
    </div>
  </div>
</div>

<!-- Buy ticket modal -->
<app-modal-buy-ticket [currentAnnounce]="data"></app-modal-buy-ticket>

<!-- Good luck modal -->
<app-modal-wish-good-luck></app-modal-wish-good-luck>
