.card-container {
  width: 90%;
  min-height: 10em;
  margin: 2em auto ;
  padding: 0.5em;
  display: flex;
  place-content: space-around;
  transition-duration: 200ms;
  border-radius: 2rem;
  box-shadow: 20px 20px 60px #9f9f9f,
              -20px -20px 60px #ffffff;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
}
.card-container:hover {
  transition: scale(1.05) 1s;
  transition-duration: 500ms;
  transform: scale(0.99);
  border-radius: 2rem;
  box-shadow: 20px 20px 60px #9f9f9f,
              -20px -20px 60px #ffffff;
  background: #e0e0e0;
}
.btn-see-details {
  width: 90%;
  max-width: 85%;
  margin: auto;
  display: flex;
  text-align: start;
  border: none;
  cursor: pointer;
  background: transparent;
}
.item-img {
  width: 20%;
  height: 100%;
  padding: 1em;
  align-self: center;
  border-radius: 2rem;
}
.description-part {
  width: 65%;
  height: 100%;
  max-height: -webkit-fill-available;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
}
.item-name {
  margin: 0;
}
.tickets-part {
  margin: auto;
  text-align-last: center;
}
.btn-ticket {
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: #059669;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}