<section class="main-container">
  <lbl-header>Retrouvez vos informations:</lbl-header>
  <div class="user-profile-container">
    <div class="profile-card-container">
      <article class="profile-card">
        <aside class="user-info-container">
          <div class="user-picture-infos">
            <div class="w-1/2 flex justify-center">
              <img
                src="{{
                  profileData['imgProfile'] ||
                    'https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp'
                }}"
                alt="Generic placeholder image"
                class="w-28 h-28 rounded-full"
              />
            </div>
            <div class="user-infos">
              <p class="font-semibold text-lg">
                {{ profileData["firstname"] }} {{ profileData["lastname"] }}
              </p>
              <p>Loire Atlantique, {{ profileData["city"] }}</p>
              <p>
                Membre depuis le
                {{ profileData["memberSince"] | date : "dd/MM/yyyy" }}
              </p>
              <div class="rating rating-md mb-4 pt-1 lg:mb-0">
                <input
                  type="radio"
                  name="rating-9"
                  class="mx-0.5 mask mask-star-2 bg-yellow-300"
                />
                <input
                  type="radio"
                  name="rating-9"
                  class="mx-0.5 mask mask-star-2 bg-yellow-300"
                  checked
                />
                <input
                  type="radio"
                  name="rating-9"
                  class="mx-0.5 mask mask-star-2 bg-primary"
                />
                <input
                  type="radio"
                  name="rating-9"
                  class="mx-0.5 mask mask-star-2 bg-primary"
                />
                <input
                  type="radio"
                  name="rating-9"
                  class="mx-0.5 mask mask-star-2 bg-primary"
                />
              </div>
            </div>
          </div>
          <div class="w-full flex justify-end">
            <lbl-modal-update-profile
              [profileData]="profileData"
              (modalUpdateEvent)="getUpdateUserProfile($event)"
            ></lbl-modal-update-profile>
          </div>
        </aside>
        <aside class="mb-10 flex flex-col gap-6 items-center">
          <div class="divider text-xl">Soldes</div>
          <div class="w-20 h-20 flex rounded-full bg-slate-100 shadow-md">
            <p class="m-auto text-center text-5xl rounded-full">$</p>
          </div>
          <p class="text-2xl">{{ profileData["bankAccount"] }} $</p>
        </aside>
        <!-- CTA's Group -->
        <div class="btn-group flex justify-center gap-2">
          <button class="btn btn-outline btn-info mr-1 shadow-md">
            Retirer
          </button>
          <lbl-modal-credit-profile></lbl-modal-credit-profile>
        </div>
      </article>
    </div>
    <article class="user-profile-menu-container">
      <div class="pair-menu-container">
        <aside class="w-full md:h-60 p-4 bg-slate-100 rounded-md shadow-md">
          <div class="card-menu">
            <div class="gap-2">
              <h2 class="text-xl font-medium">Menu 1</h2>
              <p>Description du menu</p>
            </div>
            <div>
              <img src="/assets/svg/profile.svg" class="w-12 h-12" />
            </div>
          </div>
        </aside>
        <aside class="w-full md:h-60 p-4 bg-slate-100 rounded-md shadow-md">
          <div class="card-menu">
            <div class="gap-2">
              <h2 class="text-xl font-medium">Menu 1</h2>
              <p>Description du menu</p>
            </div>
            <div>
              <img src="/assets/svg/profile.svg" class="w-12 h-12" />
            </div>
          </div>
        </aside>
      </div>
      <div class="pair-menu-container">
        <aside class="w-full md:h-60 p-4 bg-slate-100 rounded-md shadow-md">
          <div class="card-menu">
            <div class="gap-2">
              <h2 class="text-xl font-medium">Menu 1</h2>
              <p>Description du menu</p>
            </div>
            <div>
              <img src="/assets/svg/profile.svg" class="w-12 h-12" />
            </div>
          </div>
        </aside>
        <aside class="w-full md:h-60 p-4 bg-slate-100 rounded-md shadow-md">
          <div class="card-menu">
            <div class="gap-2">
              <h2 class="text-xl font-medium">Menu 1</h2>
              <p>Description du menu</p>
            </div>
            <div>
              <img src="/assets/svg/profile.svg" class="w-12 h-12" />
            </div>
          </div>
        </aside>
      </div>
    </article>
  </div>
</section>
