<section class="main-container">
  <lbl-header>Vérifions ensemble !</lbl-header>
  <article class="summary-container">
    <!-- Carousel-->
    <aside class="carousel-container | md:w-5/12">
      <div
        *ngFor="let imgUrl of newAnnounceData.imgsAnnounce"
        class="carousel-item"
      >
        <img [src]="imgUrl" class="rounded-box" />
      </div>
    </aside>
    <!-- Main info -->
    <div class="summary-main-info-container">
      <div class="summary-main-info">
        <h2 class="text-xl sm:text-2xl">{{ newAnnounceData.category }} |</h2>
        <h3 class="text-lg sm:text-xl">{{ newAnnounceData.title }} |</h3>
        <span class="text-lg sm:text-xl">{{
          newAnnounceData.ticketPrice | currency : "EUR" : true
        }}</span>
      </div>
      <!-- Badges -->
      <!-- <div *ngIf="newAnnounceData.tags![0]" class="flex">
        <div
          *ngFor="let tag of newAnnounceData.tags"
          class="announce-badges mr-1"
        >
          {{ tag }}
        </div>
      </div> -->
      <div class="divider my-0"></div>
      <!-- Description -->
      <div class="flex flex-col gap-2">
        <h3 class="card-title">Description:</h3>
        <p class="sm:w-3/4 text-gray-800 leading-normal">
          {{ newAnnounceData.description }}
        </p>
      </div>
      <!-- CTA's Group -->
      <div class="btn-group flex justify-end mt-auto">
        <button
          (click)="goBack()"
          type="button"
          class="btn btn-outline btn-info mr-1 shadow-md"
        >
          Modifier
        </button>
        <label
          (click)="onPublish()"
          for="modal-wish-success"
          class="btn btn-primary shadow-md"
          >Publier</label
        >
      </div>
    </div>
    <!-- </aside> -->
  </article>
</section>

<!-- Wish success modal -->
<input type="checkbox" id="modal-wish-success" class="modal-toggle" />
<div class="modal">
  <div class="modal-box flex flex-col gap-4">
    <label
      for="modal-wish-success"
      class="btn btn-sm btn-circle absolute right-4 top-4"
      >✕</label
    >
    <h3 class="pb-4 font-bold text-3xl text-primary text-lbl">
      Le bon succès ☀
    </h3>
    <p class="pb-2">
      [Nom utilisateur], nous vous souhaitons bonne chance pour ce tirage ce
      tirage à venir !
    </p>
    <p class="pb-2">
      N'hésitez pas à nous contacter si vous avez des questions ou des
      préoccupations concernant votre annonce. Nous sommes là pour vous aider.
    </p>
    <div class="modal-action">
      <label
        (click)="redirectUser()"
        for="modal-wish-success"
        class="btn btn-primary"
        >Merci</label
      >
    </div>
  </div>
</div>
