<section class="main-container">
  <lbl-header>Vérifions ensemble !</lbl-header>
  <article *ngIf="newAnnounceData" class="summary-container">
    <!-- Carousel-->
    <div class="carousel-container md:w-1/2">
      <div *ngFor="let imgUrl of newAnnounceData.imgsAnnounce; let i = index" id="slide{{ i + 1 }}"
        class="carousel-item relative w-full">
        <img [src]="imgUrl" class="w-full" />
        <div class="absolute flex justify-between transform -translate-y-1/2 left-2 right-2 top-1/2">
          <a href="#slide{{ i - 1 }}" class="btn btn-circle btn-sm">❮</a>
          <a href="#slide{{ i + 1 }}" class="btn btn-circle btn-sm">❯</a>
        </div>
      </div>
    </div>
    <!-- Main info -->
    <div class="summary-main-info-container">
      <!-- Announce infos -->
      <div class="announce-info-container mb-4">
        <div class="flex flex-col">
          <div class="flex gap-2 items-center">
            <h2 class="text-lg">Titre:</h2>
            <h3 class="text-lg font-semibold">{{ newAnnounceData.title }}</h3>
          </div>
          <div class="flex gap-2 items-center">
            <h2 class="text-lg">Catégorie:</h2>
            <h3 class="text-lg font-semibold">
              {{ newAnnounceData.category }}
            </h3>
          </div>
          <div class="mb-2 flex gap-2 items-center">
            <h2 class="text-lg">Estimation:</h2>
            <h3 class="text-lg font-semibold">
              {{ newAnnounceData.estimate }} $
            </h3>
          </div>
          <div class="flex">
            <div class="announce-badges mr-1">Tag1</div>
            <div class="announce-badges mx-1">Tag2</div>
            <div class="announce-badges mx-1">Tag3</div>
          </div>
        </div>

        <div class="divider lg:mb-8"></div>
        <!-- Description -->
        <div>
          <h3 class="card-title mb-2">Description:</h3>
          <p class="leading-normal">
            {{ newAnnounceData.description }}
          </p>
        </div>
        <div class="divider lg:mb-8"></div>
        <div>
          <h3 class="card-title mb-2">Tickets:</h3>
          <div class="flex justify-between">
            <p>Prix d'un ticket:</p>
            <p class="text-lg font-semibold">
              {{ newAnnounceData.ticketPrice }}$
            </p>
          </div>
          <div class="flex justify-between">
            <p>Nombre de ticket minimum:</p>
            <p class="text-lg font-semibold">
              {{ newAnnounceData.minTickets }}
            </p>
          </div>
          <div class="flex justify-between">
            <p>Nombre de ticket maximum:</p>
            <p class="text-lg font-semibold">
              {{ newAnnounceData.maxTickets }}
            </p>
          </div>
        </div>
        <div class="divider lg:mb-8"></div>
        <div>
          <h3 class="card-title mb-2">Tirage:</h3>
          <div class="flex justify-between">
            <p>Date du tirage:</p>
            <p class="text-lg font-semibold">
              {{ newAnnounceData.endDate | date }}
            </p>
          </div>
        </div>
      </div>
      <!-- CTA's Group -->
      <div class="btn-group flex gap-0.5 justify-end mt-auto | md:gap-1">
        <button (click)="goBack()" type="button" class="btn btn-sm btn-outline btn-primary bg-slate-100 | md:btn-md">
          Retour
        </button>
        <label (click)="onPublish()" for="modal-wish-success" class="btn btn-sm btn-primary | md:btn-md">Valider</label>
      </div>
    </div>
    <!-- </aside> -->
  </article>
</section>

<!-- Wish success modal -->
<input type="checkbox" id="modal-wish-success" class="modal-toggle" />
<div class="modal">
  <div class="modal-container">
    <label for="modal-wish-success" class="btn btn-sm btn-circle absolute right-4 top-4">✕</label>
    <h3 class="pb-4 font-bold text-3xl text-primary">
      Le bon succès 🍀
    </h3>
    <p class="pb-2">
      {{ fullNameAuthor }}, nous espèrons que votre annonce
      rencontrera un franc le succès !
    </p>
    <p class="pb-2">
      N'hésitez pas à nous contacter si vous avez des questions ou des
      préoccupations concernant votre annonce. Nous sommes là pour vous aider.
    </p>
    <div class="modal-action">
      <label (click)="redirectUser()" for="modal-wish-success" class="btn btn-sm btn-primary | md:btn-md">Merci</label>
    </div>
  </div>
</div>