<div class="main-container">
  <lbl-header>Découvrez les nouvelles offres !</lbl-header>
  <div class="filters-bar">
    <div class="filters-container">
      <input
        type="text"
        placeholder="Que recherchez-vous?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs"
      />
      <select class="w-11/12 md:w-auto select select-bordered max-w-xs">
        <option disabled selected>Dans quel catégorie?</option>
        <option *ngFor="let category of categorys" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      <input
        type="number"
        placeholder="Prix min?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs cursor-pointer"
      />
      <input
        type="number"
        placeholder="Prix max?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs cursor-pointer"
      />
    </div>
    <button class="btn btn-outline btn-info ml-auto gap-2">Recherchez</button>
  </div>
  <div class="cards-container">
    <app-card-item
      *ngFor="let item of items; let i = index"
      [data]="item"
    ></app-card-item>
  </div>
</div>
