<div class="">
  <div class="">
    <div class="">
      <h1 class="">Liste article</h1>
    </div>
  </div>
  <div class="">
    <div class="">
      <ul class="">
        <app-card-item
          *ngFor="let item of items; let i = index"
          id="{{ item.id }}"
          name="{{ item.name }}"
          category="{{ item.category }}"
          description="{{ item.description }}"
          img="{{ item.img_url }}"
          minTickets="{{ item.minTickets }}"
          currentTickets="{{ item.currentTickets }}"
        ></app-card-item>
      </ul>
    </div>
  </div>
</div>
