<div class="main-container">
  <lbl-header>Découvrez les nouvelles offres !</lbl-header>
  <div class="filters-bar">
    <form
      [formGroup]="searchForm"
      (ngSubmit)="onSearch()"
      class="filters-container"
    >
      <input
        type="text"
        placeholder="Que recherchez-vous?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs"
      />
      <select
        type="text"
        id="category"
        name="category"
        formControlName="category"
        class="w-11/12 md:w-auto select select-bordered max-w-xs"
      >
        <option [ngValue]="null">Dans quelle catégorie?</option>
        <option *ngFor="let category of categorys" [value]="category.name">
          {{ category.name }}
        </option>
      </select>
      <input
        type="number"
        id="minPrice"
        name="minPrice"
        formControlName="minPrice"
        placeholder="Prix min?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs cursor-pointer"
      />
      <input
        type="number"
        id="maxPrice"
        name="maxPrice"
        formControlName="maxPrice"
        placeholder="Prix max?"
        class="w-11/12 md:w-auto input input-bordered max-w-xs cursor-pointer"
      />
    </form>
    <div class="btn-group ml-auto gap-1">
      <button
        type="button"
        (click)="onResetSearch()"
        [disabled]="!showResetBtn"
        class="btn btn-outline btn-info ml-auto gap-2"
      >
        No filter
      </button>
      <button
        type="button"
        (click)="onSearch()"
        class="btn btn-info ml-auto gap-2"
      >
        Recherchez
      </button>
    </div>
  </div>
  <div class="cards-container">
    <app-card-item
      *ngFor="let announce of announces; let i = index"
      [data]="announce"
    ></app-card-item>
  </div>
</div>
