<!-- <div class="item-container">
  <div class="item-subcontainer">
    <div class="item-imgs"></div>
    <div class="item-seller"></div>
  </div>
  <div class="item-subcontainer">
    <div class="item-description">
      <h1>{{ announce.name }}</h1>
      <p>{{ announce.description }}</p>
    </div>
  </div>
</div> -->

<div class="container-fluid h-100 py-4">
  <div class="container d-flex align-items-end border-bottom border-2 pb-3">
    <div class="d-flex">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
        alt="Generic placeholder image"
        class="img-fluid img-thumbnail my-3 mx-1"
        style="width: 20rem; height: 20rem; z-index: 1"
      />
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
        alt="Generic placeholder image"
        class="img-fluid img-thumbnail my-3 mx-1"
        style="width: 20rem; height: 20rem; z-index: 1"
      />
    </div>
    <div class="p-4 ms-auto">
      <h2 class="mb-4">My title</h2>
      <p>22 Novembre 2015</p>
      <p>Mot-clef1 | Mot-clef2 | Mot-clef3</p>
      <p>12$ / ticket</p>
      <p>Actuellement 220 tickets</p>
      <button type="button" class="btn bg-purp text-white">
        Acheter ticket(s)
      </button>
    </div>
  </div>
  <div class="container h-100 p-5">
    <h2 class="mb-4">Description</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi
      vestibulum purus blandit molestie ut eu magna. Vivamus vitae dolor et enim
      ullamcorper porta. Duis interdum ipsum rhoncus placerat commodo. Morbi sed
      diam rutrum, euismod velit at, feugiat tellus. Nunc ullamcorper finibus
      libero, at vulputate mi pharetra nec. Vivamus ac eleifend turpis. Mauris
      felis tellus, consectetur ac vestibulum at, aliquam vel sem. Nulla ac odio
      eget velit volutpat vehicula sed non eros. Nulla non pulvinar massa.
      Phasellus facilisis magna mattis, interdum orci ac, rutrum dolor. Quisque
      id laoreet lorem. Suspendisse consectetur, libero sit amet mollis
      ultricies, enim purus posuere urna, at interdum magna metus nec nunc.
      Morbi non consectetur nibh, nec viverra neque.
    </p>
  </div>
</div>
