<lbl-header>Détails de l'annonce</lbl-header>
<div class="w-11/12 mx-auto flex flex-col px-3 py-2">
  <!-- CARROUSEL -->
  <div class="carousel carousel-center h-96 max-w-md p-4 space-x-4 rounded-box">
    <div class="carousel-item w-11/12">
      <img
        src="https://img.leboncoin.fr/api/v1/lbcpb1/images/f8/a7/b5/f8a7b51e7108f8c32f587748fb7ae33bd8d9186b.jpg?rule=classified-1200x800-webp"
        class="rounded-box"
      />
    </div>
    <div class="carousel-item w-fit">
      <img
        src="https://img.leboncoin.fr/api/v1/lbcpb1/images/f8/a7/b5/f8a7b51e7108f8c32f587748fb7ae33bd8d9186b.jpg?rule=classified-1200x800-webp"
        class="rounded-box"
      />
    </div>
    <div class="carousel-item w-fit">
      <img
        src="https://img.leboncoin.fr/api/v1/lbcpb1/images/f8/a7/b5/f8a7b51e7108f8c32f587748fb7ae33bd8d9186b.jpg?rule=classified-1200x800-webp"
        class="rounded-box"
      />
    </div>
    <div class="carousel-item w-fit">
      <img
        src="https://img.leboncoin.fr/api/v1/lbcpb1/images/f8/a7/b5/f8a7b51e7108f8c32f587748fb7ae33bd8d9186b.jpg?rule=classified-1200x800-webp"
        class="rounded-box"
      />
    </div>

    <div class="carousel-item w-fit">
      <img
        src="https://img.leboncoin.fr/api/v1/lbcpb1/images/f8/a7/b5/f8a7b51e7108f8c32f587748fb7ae33bd8d9186b.jpg?rule=classified-1200x800-webp"
        class="rounded-box"
      />
    </div>
  </div>
  <!-- CONTENT CARD -->
  <div class="mb-5">
    <div class="w-full mb-2 flex justify-between">
      <h2 class="text-2xl">Categorie</h2>
      <span class="text-2xl font-semibold">10 $</span>
    </div>
    <div class="mb-3">
      <h3 class="text-xl mb-2">Mon super titre</h3>
      <p>Posté le 9 avril 2023</p>
    </div>
    <!-- Badges -->
    <div class="flex mb-3">
      <div class="p-3 mr-1 badge badge-outline">neutral</div>
      <div class="p-3 mx-1 badge badge-outline">neutral</div>
      <div class="p-3 mx-1 badge badge-outline">neutral</div>
      <div class="p-3 ml-1 badge badge-outline">neutral</div>
    </div>
    <div class="divider"></div>
    <!-- Description -->
    <div class="bg-white shadow-md rounded px-8 py-6 mb-3">
      <h3 class="card-title">Description:</h3>
      <p class="text-gray-800 leading-normal">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.
        Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies
        sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius
        a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
        molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.
        Duis semper.
      </p>
    </div>
    <!-- Others info -->
    <div class="card glass bg-white shadow-md rounded p-6 mb-4">
      <!-- User -->
      <div class="flex items-center h-32 mb-4">
        <img
          class="w-4/12 rounded-full mr-4"
          src="https://via.placeholder.com/150"
        />
        <div class="ml-auto flex flex-col justify-between rounded-lg">
          <p class="text-gray-800 font-bold text-base">Kévin Marais</p>
          <p class="text-gray-600">Loire-Atlantique, Nantes</p>
          <p class="text-gray-600 text-sm">Membre depuis le 20/02/2023</p>
          <div class="pt-1 rating rating-md">
            <input
              type="radio"
              name="rating-9"
              class="mx-0.5 mask mask-star-2 bg-yellow-300"
            />
            <input
              type="radio"
              name="rating-9"
              class="mx-0.5 mask mask-star-2 bg-yellow-300"
              checked
            />
            <input
              type="radio"
              name="rating-9"
              class="mx-0.5 mask mask-star-2 bg-primary"
            />
            <input
              type="radio"
              name="rating-9"
              class="mx-0.5 mask mask-star-2 bg-primary"
            />
            <input
              type="radio"
              name="rating-9"
              class="mx-0.5 mask mask-star-2 bg-primary"
            />
          </div>
        </div>
      </div>
      <!-- Link's Group -->
      <div class="w-full mx-auto mb-4 flex items-center justify-between">
        <a class="link text-blue-500">Voir les 29 annonces</a>
        <button class="btn py-1 px-3 bg-blue-500">Contacter</button>
      </div>
      <!-- Statistics -->
      <div class="p-2 rounded-lg shadow-lg">
        <div class="w-full flex">
          <div class="divider h-0.5 w-9/12 mr-4 bg-slate-600"></div>
          <h3 class="text-2xl font-medium text-gray-800 mb-4 font-mono">
            Statistiques
          </h3>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Estimation</p>
          <p class="font-mono">5000 $</p>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Prix pour 1 ticket</p>
          <p class="font-mono">10 $</p>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Nb Ticket maximum</p>
          <p class="font-mono">600</p>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Nb Ticket en cours</p>
          <p class="font-mono">45</p>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Nombre d'acheteurs</p>
          <p class="font-mono">32</p>
        </div>
        <div class="w-full mb-1 flex justify-between">
          <p class="font-mono">Durant la dernière heure</p>
          <p class="font-mono">500</p>
        </div>
      </div>
    </div>
    <!-- Timer -->
    <div
      class="mx-auto mb-4 py-3 grid grid-flow-col gap-1 items-center justify-between text-center bg-white shadow-lg"
    >
      <div class="flex flex-col p-2 rounded-box text-neutral-content">
        <span class="countdown bg-neutral p-2 font-mono text-5xl rounded-xl">
          <span style="--value: 15"></span>
        </span>
        <p class="text-neutral">days</p>
      </div>
      <div class="flex flex-col p-2 rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl bg-neutral p-2 rounded-xl">
          <span style="--value: 10"></span>
        </span>
        <p class="text-neutral">hours</p>
      </div>
      <div class="flex flex-col p-2 rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl bg-neutral p-2 rounded-xl">
          <span style="--value: 24"></span>
        </span>
        <p class="text-neutral">min</p>
      </div>
      <div class="flex flex-col p-2 rounded-box text-neutral-content">
        <span class="countdown font-mono text-5xl bg-neutral p-2 rounded-xl">
          <span style="--value: 49"></span>
        </span>
        <p class="text-neutral">sec</p>
      </div>
    </div>
    <!-- CTA's Group -->
    <div class="btn-group flex justify-end">
      <button class="btn btn-outline btn-info mr-1 shadow-md">Détails</button>
      <button class="btn btn-primary shadow-md">Acheter</button>
    </div>
  </div>

  <!-- <div class="">
  <div class="">
    <div class="">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
        alt="Generic placeholder image"
        class=""
        style="width: 20rem; height: 20rem; z-index: 1"
      />
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
        alt="Generic placeholder image"
        class=""
        style="width: 20rem; height: 20rem; z-index: 1"
      />
    </div>
    <div class="">
      <h2 class="">My title</h2>
      <p>22 Novembre 2015</p>
      <p>Mot-clef1 | Mot-clef2 | Mot-clef3</p>
      <p>12$ / ticket</p>
      <p>Actuellement 220 tickets</p>

      <button type="button" class="">Acheter ticket(s)</button>
    </div>
  </div>
  <div class="">
    <h2 class="">Description</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae mi
      vestibulum purus blandit molestie ut eu magna. Vivamus vitae dolor et enim
      ullamcorper porta. Duis interdum ipsum rhoncus placerat commodo. Morbi sed
      diam rutrum, euismod velit at, feugiat tellus. Nunc ullamcorper finibus
      libero, at vulputate mi pharetra nec. Vivamus ac eleifend turpis. Mauris
      felis tellus, consectetur ac vestibulum at, aliquam vel sem. Nulla ac odio
      eget velit volutpat vehicula sed non eros. Nulla non pulvinar massa.
      Phasellus facilisis magna mattis, interdum orci ac, rutrum dolor. Quisque
      id laoreet lorem. Suspendisse consectetur, libero sit amet mollis
      ultricies, enim purus posuere urna, at interdum magna metus nec nunc.
      Morbi non consectetur nibh, nec viverra neque.
    </p>
  </div>
  <app-buy-ticket></app-buy-ticket>
</div> -->
</div>
