<section class="">
  <div class="">
    <div class="">
      <div class="">
        <div class="">
          <div class="">
            <div class="">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                alt="Generic placeholder image"
                class=""
                style="width: 150px; z-index: 1"
              />
              <button
                type="button"
                class=""
                data-mdb-ripple-color="success"
                (click)="updateProfile()"
              >
                Modifier profil
              </button>
            </div>
            <div class="">
              <h5>
                {{profileData?.['firstname']}} {{profileData?.['lastname']}}
              </h5>
              <p>{{profileData?.['city']}}</p>
            </div>
          </div>
          <div class="">
            <div class="">
              <div>
                <p class="">253</p>
                <p class="">Annonces</p>
              </div>
              <div class="">
                <p class="">1026</p>
                <p class="">Followers</p>
              </div>
              <div>
                <p class="">478</p>
                <p class="">Following</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="">
              <p class="">Commentaire(s)</p>
              <div class="">
                <p class="">Web Developer</p>
                <p class="">Lives in New York</p>
                <p class="">Photographer</p>
              </div>
            </div>
            <div class="">
              <p class="">Annonces en cours</p>
              <p class=""><a href="#!">voir tout</a></p>
            </div>
            <div class="">
              <div class="">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(112).webp"
                  alt="image 1"
                  class=""
                />
              </div>
              <div class="">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(107).webp"
                  alt="image 1"
                  class=""
                />
              </div>
            </div>
            <div class="">
              <div class="">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(108).webp"
                  alt="image 1"
                  class=""
                />
              </div>
              <div class="col">
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1"
                  class=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-modal-profile
    *ngIf="modalUpdateProfile"
    [profileData]="profileData"
    [modalUpdateProfile]="modalUpdateProfile"
    (modalUpdateEvent)="modalUpdateProfile = !modalUpdateProfile"
  ></app-modal-profile>
</section>
