<div class="container">
  <div class="profile-part">
    <!-- <div class="img-part"> -->
    <img src="assets/svg/profile.svg" class="profile-img" />
    <!-- </div> -->
    <div>
      <div class="stars-container">
        <img
          *ngFor="let star of stars"
          class="star"
          src="assets/svg/star.svg"
        />
      </div>
      <p>Kévin Marais</p>
      <p>Nantes</p>
      <button type="button" (click)="updateProfile()">Modifier profil</button>
    </div>
  </div>
</div>
