.card-container {
  background-color: black;
  width: 90%;
  margin: 1em 0 ;
  padding: 0.5em;
  display: flex;
  place-content: space-around;
}
.item-img {
  background-color: green;
  width: 20%;
}
.description-part {
  background-color: blue;
  width: 75%;
  height: 100%;
}
.item-name {
  background-color: green;
  margin: 0;
  ;
}
.price-part {
  align-self: center;
  color: white;
}