@tailwind base;
@tailwind components;
@tailwind utilities;

.text-lbl {
  color: #712CF9;
  font-family: Luckiest Guy;
}
.bg-lbl {
  background-color: #712CF9;
}
.text-nav:hover {
  color: #0D6EFD;
}

.main-container {
  @apply flex-col p-2
}

// NavBar ///////////////////////////////////////////////////////////////////////
nav {
  @apply h-16 mb-3 flex border-b shadow-md border-slate-400 bg-gray-200
}
.nav-container {
  @apply w-1/6 flex
/* MD */ md:w-20
}
.btn-burger-container {
  @apply m-auto
}
.btn-burger {
  @apply text-3xl font-semibold
}
.menu{
  @apply h-full w-3/4 absolute top-16 left-0 bg-gray-300
/* MD */ md:w-1/4
}
.links {
  @apply relative top-4 left-6
/* MD */ md:left-10
}
.link-container {
  @apply flex my-2
/* HOVER */ hover:my-3 hover:scale-105 transition-all duration-500 ease-in-out
}
.link {
  @apply ml-4 text-lg font-sans text-nav
/* HOVER */ hover:text-xl hover:font-medium hover:border-b-2 border-blue-500 hover:shadow-lg transition-all duration-200 ease-in-out

}
.logo-letters-container {
  @apply m-auto flex-col items-center space-y-1
/* MD */ md:space-y-3
}
.logo-letters {
  @apply text-3xl font-bold text-lbl
}
.logo-letters-underline {
  @apply w-16 h-0.5 mx-auto bg-lbl
}
.logo-png-container {
  @apply w-1/6 flex
/* MD */ md:w-1/12
}
.logo-png {
  @apply h-3/4 m-auto border border-white rounded-lg
}

// Sign-up & Log-in ///////////////////////////////////////////////////////////////////////

// Sign-up *****

.sign-up-form {
  @apply h-full w-11/12 mx-auto p-4 flex-col border shadow-lg rounded-xl bg-slate-300
}
.sign-up-title {
  @apply text-2xl font-medium
}
.sign-up-input-container {
  @apply m-4 flex flex-col
}
.sign-up-input-container {
  @apply p-2 rounded-md
}

