@tailwind base;
@tailwind components;
@tailwind utilities;

// Global ///////////////////////////////////////////////////////////////////////

.text-lbl {
  color: #712CF9;
  font-family: Luckiest Guy;
}
.bg-lbl {
  background-color: #712CF9;
}
.text-nav:hover {
  color: #0D6EFD;
}

.main-container {
  @apply p-2 flex flex-col bg-slate-50 to-slate-100 min-h-screen
}

.inline-size-lbl {
 inline-size: auto;
}

// NavBar ///////////////////////////////////////////////////////////////////////

nav {
  @apply h-16 flex border-b shadow-md border-slate-300 bg-base-200
}
.logo-letters {
  @apply text-2xl font-semibold text-lbl
}

// Forms ///////////////////////////////////////////////////////////////////////

.form-container {
  @apply w-11/12 mx-auto p-4 flex-col border shadow-lg rounded-xl bg-slate-300
/* SM */ sm:w-2/3
/* MD */ md:w-3/4
/* LG */ lg:max-w-4xl
}
.form-title {
  @apply mb-5 text-2xl font-medium
}
.form-sub-container {
  @apply mx-auto py-3 items-center
/* MD */ md:w-11/12 md:flex
}
.col-upload-descript-buttons {
  @apply
/* MD */ md:w-full md:mb-auto md:flex md:flex-col
}
.form-input-container {
  @apply m-4 flex flex-col
/* SM */ sm:w-10/12 sm:mx-auto
}
.input-lbl {
  @apply p-2 rounded-md
}

// Sign-up & Log-in ///////////////////////////////////////////////////////////////////////

.auth-cta-container {
  @apply h-24 flex flex-col items-center place-content-around
}

// Announces page ///////////////////////////////////////////////////////////////////////

.filters-bar {
  @apply lg:w-11/12 flex flex-wrap mb-5 md:mb-10 md:mx-auto py-2 px-3 gap-4 md:gap-0 border border-base-300 rounded-box bg-gray-200 shadow-xl
}
.filters-container {
  @apply inline-flex inline-size-lbl flex-wrap gap-2
}
.cards-container {
  @apply flex flex-col gap-2
}

// Announce-details page ///////////////////////////////////////////////////////////////////////

.details-container {
  @apply h-5/6 py-4 flex flex-col bg-slate-50 to-slate-100
/* SM */ sm:w-10/12 sm:mb-6 sm:py-6 sm:px-4
/* MD */ md:mb-8 md:py-8 md:px-8
/* LG */ lg:px-0
}
.details-sub-container {
  @apply flex justify-start
/* LG */ lg:gap-10
}
.carousel-container {
  @apply carousel carousel-center h-96  self-center space-x-4 rounded-box
}
.announce-info-container {
  @apply py-4 px-2
/* SM */ sm:py-6 sm:px-4
/* MD */ md:py-8 md:px-8
/* LG */ lg:w-3/4 lg:pb-0
}
.category-price-line {
  @apply w-full mb-2 flex justify-between
}
.announce-badges {
  @apply p-3 badge badge-outline
}
.announce-description-container {
  @apply mb-4 pb-4 px-2
/* SM */ sm:mb-6 sm:pb-6 sm:px-4
/* MD */ md:mb-8 md:pb-8 md:p-8
/* LG */ lg:w-5/12
}
.announce-others-info-container {
  @apply py-4 px-2 mb-4 rounded bg-white shadow-md
/* SM */ sm:mb-6 sm:py-8 sm:px-4
/* MD */ md:mb-8 md:py-10 md:px-8
/* LG */ lg:flex lg:flex-col lg:gap-8 lg:justify-center lg:pb-0 lg:px-4
}
.announce-user-profile {
  @apply h-1/4 mb-4 flex items-center
/* SM */ sm:mb-6
/* MD */ md:mb-8 md:gap-16 md:px-4
/* LG */ lg:px-0 lg:gap-8
}
.announce-user-picture {
  @apply  mx-auto rounded-full object-cover
/* SM */ sm:w-4/12
/* MD */ md:w-28 md:h-28
}
.announce-user-info {
  @apply mx-auto gap-1 flex flex-col justify-between rounded-lg
/* MD */ md:gap-2 md:w-3/4
/* LG */ lg:w-8/12
}
.announce-user-links {
  @apply mb-4 px-2 flex justify-center items-center gap-4
/* MD */ md:hidden
}
.MD-announce-user-links {
  @apply hidden
/* MD */ md:flex md:flex-col md:items-center md:gap-6 md:mr-auto
}
.announce-user-contact {
  @apply
/* MD */ md:py-0
}
.announce-statistics-info {
  @apply mb-4 p-2 flex flex-col gap-1 rounded-lg
/* SM */ sm:gap-2
/* MD */ md:gap-3
/* LG */ lg:px-0
}
.announce-titles-divider {
  @apply divider divide-black w-full mt-0
}
.announce-titles {
  @apply text-2xl font-mono font-medium text-gray-800
}
.announce-statistics-lines {
  @apply w-full flex justify-between
}
.announce-timer-container {
  @apply mx-auto flex flex-col items-center justify-around text-center bg-white
/* SM */ sm:place-content-center sm:rounded-lg
}
.announce-timer-boxes {
  @apply flex flex-col rounded-box text-neutral-content
}
.announce-timer-times {
  @apply countdown p-2 text-3xl font-mono bg-neutral rounded-xl
/* SM */ sm:text-2xl
  
}
.announce-CTA-group {
  @apply btn-group flex justify-end
}

// Summary-Announce page ///////////////////////////////////////////////////////////////////////

.summary-container {
  @apply py-3 flex flex-col gap-2 items-center
/* MD */ md:w-11/12 md:mx-auto md:py-6 md:flex-row md:gap-4
/* LG */ lg:gap-12
}
.summary-main-info-container{
  @apply w-11/12 flex flex-col gap-4
/* MD */ md:w-1/2
}
.summary-main-info {
  @apply flex gap-4 items-center
}
.summary-description {
  @apply flex flex-col gap-2
}

// User-Profile ///////////////////////////////////////////////////////////////////////

// User-profile
.user-profile-container {
  @apply mx-auto flex flex-col gap-4
/* MD */ md:px-4 md:flex-row
/* LG */ lg:w-11/12
}
.profile-card-container {
  @apply p-4 bg-slate-100 rounded-md shadow-md
/* MD */ md:w-5/12 md:h-fit
}
.profile-card {
  @apply mx-auto py-4 px-2 flex flex-col gap-4 bg-slate-200 rounded-lg shadow-lg
}
.user-info-container {
  @apply flex flex-col gap-4
/* MD */ md:gap-6
}
.user-picture-infos {
  @apply flex gap-4 items-center justify-center
}
.user-infos {
  @apply  ml-auto p-2 bg-slate-50 rounded-lg shadow-md
}

// Profile Menu
.user-profile-menu-container {
  @apply w-11/12 mx-auto py-4 flex flex-col gap-4 items-center self-center
/* MD */ md:w-1/2
}
.pair-menu-container {
  @apply w-full flex flex-col gap-4
/* MD */ md:flex-row
}
.card-menu {
  @apply h-full px-2 py-4 flex flex-col gap-8 text-center items-center justify-center bg-slate-200 rounded-md shadow-md
}