<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">LeBonLot</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['/']"
          >Accueil
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['/liste']"
          >Liste</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-bs-toggle="tab"
          [routerLink]="['/ajout-annonce']"
          >Ajouter une annonce
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" [routerLink]="['/profil']"
          >Profil</a
        >
      </li>
    </ul>
  </div>
</nav>
