<section class="main-container">
  <lbl-header>Retrouvez vos informations:</lbl-header>
  <div class="profile-container-1">
    <div class="profile-container-2">
      <div class="profile-container-3">
        <!-- Profile -->
        <div class="profile-card">
          <div class="profile-card-content">
            <h2 class="profile-card-title">Profil</h2>
            <p>{{ profileData["firstname"] }} {{ profileData["lastname"] }}</p>
            <p>Loire Atlantique, {{ profileData["city"] }}</p>
            <p>
              Membre depuis le
              {{ profileData["memberSince"] | date : "dd/MM/yyyy" }}
            </p>
            <span class="mt-0.5 flex">
              <app-svg-stars></app-svg-stars>
              <app-svg-stars></app-svg-stars><app-svg-stars></app-svg-stars
              ><app-svg-stars></app-svg-stars><app-svg-stars> </app-svg-stars>
              <p class="ml-1">7 avis</p>
            </span>
          </div>
          <div class="profile-card-img">
            <img
              src="{{ profileData['imgProfile'] || '/assets/svg/profile.svg' }}"
              alt="Profile"
              class="circle-surface"
            />
          </div>
        </div>
        <!-- Balance -->
        <div class="profile-card">
          <div class="profile-card-content">
            <h2 class="profile-card-title">Solde</h2>
            <p>
              Votre solde actuel est de $<span class="font-semibold">{{
                profileData["bankAccount"]
              }}</span
              >.
            </p>
            <div
              class="mt-4 flex justify-center gap-0.5 | md:mt-auto md:justify-start"
            >
              <lbl-modal-withdraw
                [profileData]="profileData"
                (withdrawEvent)="getUpdateUserProfile($event)"
              ></lbl-modal-withdraw>
              <lbl-modal-credit-profile
                [profileData]="profileData"
                (creditBankBalanceEvent)="getUpdateUserProfile($event)"
              ></lbl-modal-credit-profile>
            </div>
          </div>
          <div class="profile-card-img">
            <div class="circle-surface">
              <p class="m-auto text-[2.5rem] rounded-full">$</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu Cards -->
      <div class="profile-container-3">
        <!-- <div class="w-full md:w-1/4"> -->
        <div class="profile-menu-cards">
          <h2 class="text-lg font-semibold mb-2">Paramètres</h2>
          <p>Complétez et modifiez vos informations privées et préférences</p>
        </div>
        <div class="profile-menu-cards">
          <h2 class="text-lg font-semibold mb-2">Transactions</h2>
          <p>Suivez vos achats et vos ventes</p>
        </div>
        <div class="profile-menu-cards">
          <h2 class="text-lg font-semibold mb-2">Annonces</h2>
          <p>Gérez vos annonces déposées</p>
        </div>
        <div class="profile-menu-cards">
          <h2 class="text-lg font-semibold mb-2">Historique</h2>
          <p>Revoyez vos annonces et achat passés</p>
        </div>
      </div>
    </div>

    <!-- Update profile BTN -->
    <div class="w-full flex justify-center | md:justify-end">
      <button
        (click)="onDisconnect()"
        class="btn btn-link hover:btn-error gap-2 | md:gap-4 text-error"
      >
        <app-svg-shutdown></app-svg-shutdown> Se déconnecter
      </button>
    </div>
  </div>
</section>
