<div class="announce-timer-container">
  <div *ngIf="!hideText" class="announce-titles-divider">
    <h3 class="section-title">Temps restant</h3>
  </div>
  <div class="grid grid-flow-col gap-2" *ngIf="timeLeft$ | async as timer">
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{  timer | date: 'dd' }}"></span>
      </span>
      <p class="text-neutral">jours</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{  timer | date: 'hh' }}"></span>
      </span>
      <p class="text-neutral">heures</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{  timer | date: 'mm' }}"></span>
      </span>
      <p class="text-neutral">min</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{  timer | date: 'ss' }}"></span>
      </span>
      <p class="text-neutral">sec</p>
    </div>
  </div>
</div>
