<div class="announce-timer-container">
  <div *ngIf="!hideText" class="announce-titles">
    <h3 class="section-title">Temps restant</h3>
  </div>
  <div class="grid grid-flow-col gap-2 bg-[#212121]  ">
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{ getDays }}"></span>
      </span>
      <p class="text-white">jours</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{ getHours }}"></span>
      </span>
      <p class="text-white">heures</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{ getMinutes }}"></span>
      </span>
      <p class="text-white">min</p>
    </div>
    <div class="announce-timer-boxes">
      <span class="announce-timer-times">
        <span class="w-full" style="--value: {{ getSeconds }}"></span>
      </span>
      <p class="text-white">sec</p>
    </div>
  </div>
</div>